In [3]:
#oefening 1

name = "Georgiana"
age = 31
favorite_number = 7  

print(name)
print(age)
print(favorite_number)

Georgiana
31
7

In [2]:
#oefening 2
films = ["Shrek", "The Rookie", "Friends", "The Last of Us", "The Circle"]

# Voeg 2 films toe
films.append("Inception")
films.append("Harry Potter")

# Verwijder er eentje
films.remove("Friends")

# Print de definitieve lijst en de lengte ervan
print(films)
print("Aantal films:", len(films))

['Shrek', 'The Rookie', 'The Last of Us', 'The Circle', 'Inception', 'Harry Potter']
Aantal films: 6

In [1]:
#oefening 3
persoon = {
    "name": "Georgiana",
    "age": 31,
    "city": "Nieuwkoop",
    "hobby": "lezen"
}

print(persoon)

{'name': 'Georgiana', 'age': 31, 'city': 'Nieuwkoop', 'hobby': 'lezen'}

In [4]:
#oefening 4

for i in range(1, 11):
    print(i, "kwadraat =", i ** 2)

1 kwadraat = 1
2 kwadraat = 4
3 kwadraat = 9
4 kwadraat = 16
5 kwadraat = 25
6 kwadraat = 36
7 kwadraat = 49
8 kwadraat = 64
9 kwadraat = 81
10 kwadraat = 100

In [5]:
#oefening 5

def bereken_gemiddelde(getallen):
    if len(getallen) == 0:
        return 0  
    return sum(getallen) / len(getallen)

# Voorbeeld:
lijst = [10, 20, 30, 40]
print(bereken_gemiddelde(lijst))

25.0

In [6]:
#Oefening 1: Temperature Converter
def fahrenheit_naar_celsius(f):
    return (f - 32) * 5/9

# Testcases
print(fahrenheit_naar_celsius(32))   
print(fahrenheit_naar_celsius(68))   
print(fahrenheit_naar_celsius(100))

0.0
20.0
37.77777777777778

In [16]:
#Oefening 2: Boodschappenlijstje:

boodschappen = ["brood", "wijn", "vlees", "tomato", "kaas"]

# Voeg 2 elementen toe
boodschappen.append("tomaten")
boodschappen.append("bananen")

# Verwijder 1 item
boodschappen.remove("brood")

# Print de definitieve lijst en de lengte ervan
print(boodschappen)
print("Aantal items:", len(boodschappen))

['wijn', 'vlees', 'tomato', 'kaas', 'tomaten', 'bananen']
Aantal items: 6

In [11]:
# Oefening 3: FizzBuzz

for i in range(1, 21):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [12]:
#Oefening 4: Cijfers:
# Dictionary met studenten en hun cijfers
studenten = {
    "Anna": [8, 7, 9],
    "Bram": [6, 5, 7],
    "Celine": [9, 9, 8]
}

# Rapport printen
for naam, cijfers in studenten.items():
    gemiddelde = sum(cijfers) / len(cijfers)
    print(f"{naam} heeft een gemiddeld cijfer van {gemiddelde:.1f}")

Anna heeft een gemiddeld cijfer van 8.0
Bram heeft een gemiddeld cijfer van 6.0
Celine heeft een gemiddeld cijfer van 8.7